# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Sistema
.DS_Store
Thumbs.db

# Datasets originals (no es versionen)
data/listings.csv
data/reviews.csv